.checkout-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 83%;
    height: 400px;
    z-index: 100;
    background-color: #000000c2;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: scroll;
}

.checkout-container .checkout-close {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.checkout-container .cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hidden {
    display: none;
}

.total-amount {
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: 4rem;
    align-items: center;
    background: #e41b57;
    border-radius: 1rem;
}

.total-amount .amount {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.total-amount .amount span {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.checkout-btn button {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.25rem;
}